@mixin mat-content-editable-styles() {
  .mat-form-field-infix {
    [contenteditable]:first-child {
      margin: 0px;
      outline: 0px;
      min-height: 1.125em;
      line-height: 1.125em;
      display: inline-block;
    }
  }
}